flask
langchain
langchain_experimental
openai
pinecone-client
flask_cors
PyPDF2
pymongo
bs4
docx
python-docx
PyMuPDF
pytesseract
pandas
openpyxl
moviepy
SpeechRecognition
pydub
gunicorn
flask_bcrypt
flask-session
redis